Source: pam-memcached
Section: admin
Priority: extra
Maintainer: Aleksey Katargin <gureedo@intersvyaz.net>
Standards-Version: 3.9.6
Build-Depends: debhelper (>=9),
 cmake,
 libssl-dev,
 libmemcached-dev,
 libpam0g-dev
Homepage: https://github.com/intersvyaz/libpam-memcached
Vcs-Git: https://github.com/intersvyaz/libpam-memcached.git
Vcs-Browser: https://github.com/intersvyaz/libpam-memcached

Package: libpam-memcached
Architecture: any
Multi-Arch: same
Pre-Depends: ${misc:Pre-Depends}
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: PAM module for caching authentication using memcached (shared library)
 This package provides a Pluggable Authentication Module that provides user
 authentication, authorization and password management based on credentials
 cached in Memcached server.

Package: libpam-memcached-dbg
Architecture: any
Multi-Arch: same
Section: debug
Priority: extra
Depends: libpam-memcached (= ${binary:Version}), ${misc:Depends}
Description: PAM module for caching authentication using memcached (debugging symbols)
 This package provides a Pluggable Authentication Module that provides user
 authentication, authorization and password management based on credentials
 cached in Memcached server.
